# Unity 自动生成文件
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]ssets/AssetStoreTools*
/[Pp]ackages/
/*.csproj
/*.unityproj
/*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.vs/
.vsconfig
*.sw*

# 日志文件
[Ll]ogs/

# 项目设置
/[Pp]rojectSettings/

# 用户设置
/[Uu]serSettings/